body {
    margin: 0;
    padding: 0;
    background-image: url('kepek/hatter.jpg');
}
header {
    background-color: #037483;
    padding: 20px;
    color: #faffe3;
    text-align: center;
}
 
header a {
    color: #faffe3;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, sans-serif;
    transition: color 0.5s;
}
 
header a:hover {
    color: white;
    text-decoration: underline;
}
 
header h1 {
    font-size: 36px;
    font-family: "Brush Script MT";
    text-shadow: #027888 2px 1px 0px;
}
 
nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
main {
    margin: 20px auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #faffe3;
    max-width: 1100px;
}
 
.gridlayout {
    background-color: #faffe3;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    "header header header"
    "sidebar content extra"
    "footer footer footer";
}
 .sectionbox {
    text-align: justify;
    background-color: #faffe3;
    border: 2px solid #027d8d;
    line-height: 1.5;
    color: #333;
    border-radius: 10px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
 
.sectionbox:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}
.sidebar {
    padding: 10px;
    text-align: left;
    grid-area: sidebar;
    font-size: 15px;
}
 
.sidebar a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
 
.sidebar a:hover {
    text-decoration: underline;
}
 
.sidebar ul {
    list-style: none;
    padding: 0;
}
 

.content {
    grid-area: content;
    padding: 10px;
    border-left: 5px dotted #027483;
    border-right: 5px dotted #038091;
    text-align: justify;
}
.imagegrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
}
 
.imagegrid .imagebox {
    background-color: #037888;
    color: #faffe3;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: left;
    font-style: italic;
    max-height: 400px;
}
 
.imagegrid img {
    max-width: 100%;
    height: auto;
}

.extra {
    grid-area: extra;
    padding: 10px;
    text-align: left;
    font-size: 15px;
}
 
.extra a {
    color: #007a8a;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
}
 
.extra a:hover {
    text-decoration: underline;
}
 
.extra ul {
    list-style: none;
    padding: 0;
}
 
 
.titlehighlight {
    color: white;
    text-shadow: #007a8a 2px 1px 0px;
    padding: 10px;
    text-align: left;
}
 

footer {

    padding: 10px;
    width: 100%;
    font-size: 14px;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    color: #faffe3;
    text-align: center;
    background-color: #048091;
}
 
@media (max-width: 700px) {
    nav {
        grid-template-columns: 1fr;
    }
 
    .gridlayout {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "sidebar"
            "extra"
            "content"
            "footer";
    }
 
    header h1 {
        font-size: 28px;
    }
 
    header a {
        font-size: 20px;
    }
 
    .imagegrid {
        grid-template-columns: 1fr;
    }
 
    .sidebar {
        background-color: #007a8a;
        color: #faffe3;
        border: 5px solid #faffe3;
        padding: 10px;
    }
 
    .sidebar a {
        color: #faffe3;
    }
 
    .content {
        border: none;
        padding: 10px;
    }
 
    .extra a {
        color: #faffe3;
    }
}